* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body {
  margin: 0;
  background: #CDCDCD;
  padding: 50px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}


.nav {
  display: inline-flex;
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;   
  height: 40px;
  right: 0;
  top: 0;
  width: 100%;
  justify-content: space-around;
  background-color: #0e0e0e;
  z-index: 100;

}

.col {
  display: flex;
  justify-content: space-around;
}

.navbox {
  display: flex;
  width: 60vw;  
}

.container {
  max-width: 90%;
  height: 60%;
  margin: auto;
}

.button {
    background-color: #0e0e0e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
  background-color: #333333;
}

.btn{
  color:#999;
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding: 20px 20px;
  color: #1b1b1b;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color:#999;
   background:rgba(0, 0, 0, 0.5);
   color: white;
   text-align: center;
   height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #987373;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=time], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #0e0e0e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #333333;
}


.kategorier span {
  display: inline-block;
  cursor: pointer;
}

.kategorier {
  background: #987373;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.post {
  height: 82px;
  position: relative;
  overflow: hidden;
}

#selectPost {
  position: absolute;
  top: 0%;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: auto;
}

#egenPost {
  position: absolute;
  top: 0%;
  width: 100%;
  box-sizing: border-box;
  left: 100%;
  right: auto;
}

.stjerneEgen {
  height: 0px;
  padding: 0px;
  display: none;
}

.overnatting {
  display: inline-flex;
  flex-wrap: wrap;
}

.overnattingbox {
  width: 300px;
  height: 300px;
  background-color: white;
  position: relative;
}

#vearData {
  top: 50%;
  display: inline-block;
  position: relative;
  width: 100%;
  transform: translateY(-50%);
}

#vearData img {
  width: 100%;
}

#vearData #by {
  position: absolute;
  color: white;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: #312e2ea6;
  border-radius: 50px;
}

.vear {
  padding: 20px;
}

.vearNy {
  width: 100%;
  position: absolute;
  top: 155px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #312e2ea6;
  border-radius: 50px;
  padding: 0 70px;
  box-sizing: border-box;
}

.yr {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  background: #312e2ea6;
}

.overLenke {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 70;
}

#slideshow {
  overflow: hidden;
  width: 80%;
  margin: auto;
  height: 45vw;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.slide img, .bilde img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.alleSlides {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-left {
  z-index: 50;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  transform: rotate(180deg) translateY(50%);
  border-right: 50px solid black;
}

.arrow-right {
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  transform: rotate(0deg) translateY(-50%);
  border-right: 50px solid black;
}

.arrow-right:hover, .arrow-left:hover {
  border-right: 50px solid #353535;
}

.arrow-right:active, .arrow-left:active {
  border-right: 50px solid #7b7a7a;
}

.space {
  width: 100%;
  height: 55px;
}

.att {
  background-color: #999;
  margin: 20px 0;
  display: flex;
  position: relative;
}

.bilde {
  margin: 0 10px;
  flex-basis: 40%;
}

.flex1 {
  flex: 1;
}

.kats {
  flex-wrap: wrap;
}

.kats p, .filterKnapp {
  padding: 8px;
  margin: 3px;
  border-color: green;
  border-width: 4px;
  border-style: solid;
  text-align: center;
  background-color: #6d6d6d;
  color: whitesmoke;
}

.filterKnapp:hover {
  background-color: #888888;
  cursor: pointer;
}

.filtere, .Allfiltere, .besBoks {
  text-align: left;
}

.filtere {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s linear;
}

.aapen {
  height: auto;
  max-height: 500px;
}

.check {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.check:hover input ~ .checkmark {
  background-color: #ddd;
}

.check input:checked ~ .checkmark {
  background-color: #0e0e0e;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filterKnapp {
  display: inline-block;
  padding: 8px 23px;
}

.melding {
  background-color: #28a745;
  padding: 0px;
  border-radius: 18px;
  color: white;
  width: 90vw;
  position: fixed;
  z-index: 90;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
}

.vis {
  padding: 20px;
  max-height: 100px;
}

.tips {
  text-align: left;
  background: #d6d6d6;
  padding: 25px 30px;
  margin: 15px 0;
}

.slideSelect {
  padding: 5px;
  position: relative;
}

.slideSelect input {
  display: none;
}

.backSlide {
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.slideSelect input[type="checkbox"]:checked ~ .backSlide {
  background-color: #28a745;
}

.slideButton {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);

  width: 98%;
  border-radius: 17px;
}

.slideButton a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slideText {
  top: auto;
  bottom: 70px;
}

.graf {
  /*width: 100%;*/
  position: relative;
}

.graf div {
  height: 100%;
  background: #262626;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

table {
  width: 100%;
}

.tabelNavn {
  width: 270px;
}

table .antall {
  width: 90px;
}